.form input[type="date"] {
  margin: 0%;
  border: 2px solid lightgray;
}

input,
select {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid lightgray;
  background-color: #f3f5f7;
}

.form label {
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}
input:focus,
select:focus,
input[type="date"]:focus {
  outline: none;
  border: 2px solid #7c5cfc;
}

/*buttons*/

.form input[type="submit"],
form input[type="button"] {
  border: #7c5cfc 2px solid;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  background-color: white;
  font-weight: bold;
}
.form input[type="submit"]:hover,
form input[type="button"]:hover {
  background-color: #7c5cfc;
  color: white;
}
.form input[type="submit"] {
  margin-top: 35px;
}
/*checkBox*/
.checkbox-container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkbox,
.checkbox-container label {
  margin: 0;
  padding: 0;
  margin-right: 7px;
}
/*select*/
select {
  color: #95a5a6;
  font-size: inherit;
  font-family: inherit;
}

/*.
.form_item {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 20px;
}
.form_item label {
  padding-bottom: 10px;
  font-weight: bold;
}
input {
  border: 1.5px solid black;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
input[type="checkbox"] {
  display: none;
}
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 0.9em;
}
.checkbox label:before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: white;
  border: black solid 1.5px;
}

.checkbox label:before {
  border-radius: 3px;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  font-size: 15px;
  color: white;
  background-color: #7c5cfc;
  text-align: center;
  line-height: 15px;
  border: #7c5cfc solid 1.5px;
}

input[type="date"] {
  border: 1.5px solid black;
  margin: 0;
  background-color: white;
}
input:focus {
  outline: none;
  border: #7c5cfc solid 2px;
}

.form_item Button {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
*/
