.total-box {
  display: flex;
}

.total-box__left {
  border-right: 1px solid #f0f0f0;
  flex: 1;
}

.total-box__right {
  flex: 1;
}
.up-arrow,
.total-box__left {
  margin-right: 24px;
}
.percentage-increase {
  color: #7fb519;
}

.percentage-decrease {
  color: #ff4423;
}
.total-box p,
.box p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #90a3bf;
}
.transaction-box {
  margin-bottom: 20px;
}

.transaction-history {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  margin-top: 24px;
}

/* -------------- TABLE -------------- */
tr > th {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #90a3bf;
  padding-bottom: 24px;
}

tr > td {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -2%;
  padding: 8px 0;
}

tr > td:first-child {
  display: flex;
  align-items: center;
  gap: 9px;
}

.status {
  margin-right: 8px;
}
